<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282235610703-bt9f7ga0sh5322v62u980svvvbljefth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282235610703-bt9f7ga0sh5322v62u980svvvbljefth</string>
	<key>API_KEY</key>
	<string>AIzaSyBY0jCSbdw50c3YSD5Zd2fcDgzkHVar0Ko</string>
	<key>GCM_SENDER_ID</key>
	<string>282235610703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.DueDatePlanner</string>
	<key>PROJECT_ID</key>
	<string>due-date-planner-53a64</string>
	<key>STORAGE_BUCKET</key>
	<string>due-date-planner-53a64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282235610703:ios:0f574c721e82335af56c3a</string>
	<key>DATABASE_URL</key>
	<string>https://due-date-planner-53a64.firebaseio.com</string>
</dict>
</plist>